* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
} 
html {
    font-size: 62.5%;
}
header {
    width: 100vw;
 
}
.header-container {
    width: 95%;
    height: 60px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.main-menu {
    width: 50px;
    display: block;
}
.main-menu__icon {
    width: 25px;
    margin-left: 8px;
    display: block; 
    margin-top: 17.5px;
}
.main-menu__icon img {
    display: block;
    width: 100%;
}
.main-menu__list {
    display: none;
    position: absolute;
    width: auto;
    padding: 0 10px 25px;
    padding-right: 25px;
    font-size: 1.4rem;
    background-color: white;
}
.main-menu__list-primary{
    margin: 15px 0;
}
.main-menu__list-primary li {
    list-style: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 10px 0;
}
.main-menu__list-primary li a{
    text-decoration: none;
    color: #00265a;
}
.main-menu:hover {
    cursor: pointer;
}
.main-menu:hover .main-menu__list, .main-menu__list:hover  {
    display: block;
}
.main-menu__list-primary li:hover {
    text-decoration: underline;
}
.main-menu__list-secundary li {
    list-style: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color: black;
}
.main-menu__list-secundary li a{
    text-decoration: none;
    color: #00265a;
}
.main-menu__list-secundary li:hover {
    text-decoration: underline;
}
.principal-logo {
    width: 100%;
    max-width: 100px;
    height: auto;
    align-self: center;
    justify-self: center;
    margin-top: 4px
}
.principal-logo img {
    display: block;
    width: 100%;
    height: auto;
}
.interaction-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav {
    width: 20px;
    margin: 1rem;
    padding-top: 4px;
}
nav img {
    width: 100%;
}
.shoping-cart {
    width: 28px;
    margin: 0 0 0 1rem;
}
.shoping-cart img {
    width: 100%;
}
.nav-bar {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 95%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}
.nav-bar__items {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar__items input {
    height: 35px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
}
.nav-bar__items button {
    border: none;
    background-color: none;
} 
nav:hover .nav-bar, .nav-bar:hover{
    display: inline;
}
.nav-bar img {
    position: relative;
    width: 25px;
    height: 25px;
}
.video-entry-container {
    width: 90%;
    max-width: 900px;
    display: flex;
    margin: 0 auto;
}
.video-entry-container video {
    width: 100%;
}